/* 
.App {
    text-align: left;
    background-color: #282c34;
    min-height: 100vh;
    color: white;
    padding: 20px;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  } */
  
  .dropdown{
    width: 400px;
    margin: 0 auto;
  
  }

  .big_container{
      width: 100%;
      padding-left: 20px;

  }

  .big_container:after{
      display: block;
      content: '';
      clear: both;
  }

  .container1 {
      float: left;
      width: 50%;
      /* padding: 20px; */
      /* height: 100px; */
      /* background-color: blue; */
      /* display: inline-block; */
  }

  .container2{
      margin-left: 50%;
      height: 100px;
  }

  
  .dropdown .dropdown-btn{
    padding: 15px 20px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  
  }
  
  .dropdown .dropdown-content{
    position: absolute;
    top: 110%;
    padding: 15px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    color: #333;
  
  }
  
  .dropdown .dropdown-content .dropdown-item{
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown .dropdown-content .dropdown-item:hover{
    background: #f4f4f4;
  }
  
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }