html { scroll-behavior: smooth; } 

.menu ul li{
    display: inline-block;
    margin-right: 20px;
    margin-top: 0px;
}

.menu ul li a {
    text-decoration: none;
    font-family: "Ariel Black", Gadget, sans-serif;
    font-size: 18px;
    color: white;
    padding: 20px 10px 20px 10px;
    margin-right: 20px;
    
}
.img1{
    width: 50px;
    height: auto;
    margin: 10px;
    margin-left: 15px;
}

.img{
    margin-right: 50px;
}

.tformat{
    margin-left: 50px;
}

.format{
    margin-left: 20px;
}

.about{
    margin-left: 35px;
}

